openapi: 3.0.0
info:
  contact:
    email: developer@gusto.com
    name: Developer Relations
  description: Welcome to Gusto's Embedded Payroll API documentation!
  termsOfService: https://gusto.com/about/terms/developer-terms-of-service
  title: Gusto API
  version: 2024-03-01
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- description: Demo
  url: https://api.gusto-demo.com
- description: Production
  url: https://api.gusto.com
security:
- Authorization: []
tags:
- name: Payrolls
- name: Companies
- name: Pay Schedules
- name: Employees
- name: Employee Addresses
- name: Jobs and Compensations
- name: Employee Employments
- name: Contractors
- name: Company Benefits
- name: External Payrolls
- name: Time Off Policies
- name: Contractor Payments
- name: Holiday Pay Policies
- name: Departments
- name: Webhooks
- name: Employee Benefits
- name: Locations
- name: Employee Payment Method
- name: Employee Forms
- name: Signatories
- name: Bank Accounts
- name: Employee Tax Setup
- name: Earning Types
- name: Contractor Payment Method
- name: Company Forms
- name: Garnishments
- name: Contractor Forms
- name: Tax Requirements
- name: Introspection
- name: Payment Configs
- name: Federal Tax Details
- name: Industry Selection
- name: Recovery Cases
- name: Flows
- name: Generated Documents
- name: Notifications
- name: Events
- name: Invoices
- name: ACH Transactions
paths:
  /v1/token_info:
    get:
      description: Returns scope and resource information associated with the current
        access token.
      operationId: Introspection_getCurrentAccessTokenInfo
      parameters:
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    scope: companies:read companies:write employees:read
                    resource:
                      type: Company
                      uuid: 5eca5127-6048-43ad-91ee-b56a0c34bc85
              schema:
                $ref: '#/components/schemas/IntrospectionGetCurrentAccessTokenInfoResponse'
          description: Example response
      summary: Get info about the current access token
      tags:
      - Introspection
      x-gusto-integration-type:
      - embedded
      - app-integrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-token_info
      x-accepts: application/json
  /oauth/token:
    post:
      description: |-
        Exchange a refresh token for a new access token.

        The previous `refresh_token` will be revoked on the first usage of the new `access_token`.

        The `expires_in` value is provided in seconds from when the `access_token` was generated.
      operationId: Introspection_exchangeRefreshToken
      parameters:
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntrospectionExchangeRefreshTokenRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    access_token: 737HdeXfIqgx-NfaUFRuhV7JDe6ns6ptanJSMuQzjlc
                    token_type: bearer
                    expires_in: 7200
                    refresh_token: iEjL96L9Pndwmi-xVX3Q-xbrvvhnjHYGX87sopgGJ8E
                    scope: ach_transactions:read benefits:read companies:read
                    created_at: 2023-09-12T16:42:25.000-07:00
              schema:
                $ref: '#/components/schemas/Authentication'
          description: Example response
      security:
      - ApiKeyAuth: []
      summary: Refresh access token
      tags:
      - Introspection
      x-gusto-integration-type:
      - embedded
      - app-integrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--oauth-token
      x-content-type: application/json
      x-accepts: application/json
  /v1/partner_managed_companies:
    post:
      description: |-
        Create a partner managed company. When you successfully call the API, it does the following:
        * Creates a new company in Gusto
        * Creates a new user using the provided email if the user does not already exist.
        * Makes the user the primary payroll administrator of the new company.

        In response, you will receive oauth access tokens for the created company.

        IMPORTANT: the returned access and refresh tokens are reserved for this company only. They cannot be used to access other companies AND previously granted tokens cannot be used to access this company.

        > 📘 Token Authentication
        >
        > this endpoint uses the [organization level api token and the Token scheme with HTTP Authorization header](https://docs.gusto.com/embedded-payroll/docs/authentication#retrieving-access-tokens)
      operationId: Companies_createPartnerManagedCompany
      parameters:
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  user:
                    first_name: Frank
                    last_name: Ocean
                    email: frank@example.com
                    phone: "2345558899"
                  company:
                    name: "Frank's Ocean, LLC"
                    trade_name: Frank’s Ocean
                    ein: "123456789"
            schema:
              $ref: '#/components/schemas/CompaniesCreatePartnerManagedCompanyRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    access_token: de6780bc506a0446309bd9362820ba8aed28aa506c71eedbe1c5c4f9dd350e54
                    refresh_token: 8257e65c97202ed1726cf9571600918f3bffb2544b26e00a61df9897668c33a1
                    company_uuid: d525dd21-ba6e-482c-be15-c2c7237f1364
                    expires_in: 7200
              schema:
                $ref: '#/components/schemas/CompaniesCreatePartnerManagedCompanyResponse'
          description: OK
        "401":
          description: Authorization information is missing or invalid.
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      security:
      - ApiKeyAuth: []
      summary: Create a partner managed company
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-partner_managed_companies
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{company_id}:
    get:
      description: "Get a company.         \nThe employees:read scope is required\
        \ to return home_address and non-work locations.         \nThe company_admin:read\
        \ scope is required to return primary_payroll_admin.         \nThe signatories:read\
        \ scope is required to return primary_signatory.         \n\nscope: `companies:read`"
      operationId: Companies_getCompany
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    ein: 00-0000001
                    entity_type: C-Corporation
                    tier: core
                    is_suspended: false
                    company_status: Approved
                    uuid: c7a07c73-a703-4462-9343-1b181182b6e0
                    name: Shoppe Studios LLC
                    trade_name: Record Shoppe
                    is_partner_managed: false
                    pay_schedule_type: by_department
                    join_date: 2023-03-01
                    funding_type: ach
                    locations:
                    - street_1: 412 Kiera Stravenue
                      street_2: Suite 391
                      city: San Francisco
                      state: CA
                      zip: "94107"
                      country: USA
                      active: true
                    - street_1: 644 Fay Vista
                      street_2: Suite 842
                      city: Richmond
                      state: VA
                      zip: "23218"
                      country: USA
                      active: true
                    compensations:
                      hourly:
                      - name: Overtime
                        multiple: 1.5
                      - name: Double overtime
                        multiple: 2
                      - name: Regular
                        multiple: 1
                      - name: Outstanding vacation
                        multiple: 1
                      - name: Holiday
                        multiple: 1
                      - name: Emergency sick - self care
                        multiple: 1
                      - name: Emergency sick - caring for others
                        multiple: 1
                      - name: FMLA Public Health Emergency Leave
                        multiple: 1
                      - name: Regular Hours
                        multiple: 1
                      fixed:
                      - name: Bonus
                      - name: Commission
                      - name: Paycheck Tips
                      - name: Cash Tips
                      - name: Correction Payment
                      - name: Severance
                      - name: Minimum Wage Adjustment
                      - name: Reimbursement
                      paid_time_off:
                      - name: Vacation Hours
                      - name: Sick Hours
                      - name: Holiday Hours
                    primary_signatory:
                      first_name: Alda
                      middle_initial: ""
                      last_name: Carter
                      phone: 1-565-710-7558
                      email: louie.hessel7757869450111547@zemlak.biz
                      home_address:
                        street_1: 524 Roob Divide
                        street_2: Suite 565
                        city: San Francisco
                        state: CA
                        zip: "94107"
                        country: USA
                    primary_payroll_admin:
                      first_name: Ian
                      last_name: Labadie
                      phone: 1-565-710-7559
                      email: louie.hessel7757869450111547@zemlak.biz
              schema:
                $ref: '#/components/schemas/Company'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get a company
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      - app-integrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-company_id
      x-accepts: application/json
  /v1/partner_managed_companies/{company_uuid}/migrate:
    put:
      description: |-
        Migrate an existing Gusto customer to your embedded payroll product.

        To use this endpoint, the customer will need to connect their Gusto account to your application using [OAuth2](https://docs.gusto.com/embedded-payroll/docs/oauth2) then view and [accept the Embedded Payroll Terms of Service](https://docs.gusto.com/embedded-payroll/reference/post-partner-managed-companies-company_uuid-accept_terms_of_service).

        scope: `partner_managed_companies:write`
      operationId: Companies_migrateToEmbeddedPayroll
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompaniesMigrateToEmbeddedPayrollRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    company_uuid: 39abf9b9-650b-4e67-89a0-389dc6ee8a71
                    migration_status: true
              schema:
                $ref: '#/components/schemas/CompaniesMigrateToEmbeddedPayrollResponse'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Migrate company to embedded payroll
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-partner_managed_companies-company_uuid-migrate
      x-content-type: application/json
      x-accepts: application/json
  /v1/partner_managed_companies/{company_uuid}/accept_terms_of_service:
    post:
      description: |-
        Accept the Gusto Embedded Payroll's [Terms of Service](https://flows.gusto.com/terms).
        The user must have a role in the company in order to accept the Terms of Service.

        scope: `terms_of_services:write`
      operationId: Companies_acceptTermsOfService
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompaniesAcceptTermsOfServiceRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    latest_terms_accepted: true
              schema:
                $ref: '#/components/schemas/CompaniesAcceptTermsOfServiceResponse'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Accept terms of service for a company user
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-partner_managed_companies-company_uuid-accept_terms_of_service
      x-content-type: application/json
      x-accepts: application/json
  /v1/partner_managed_companies/{company_uuid}/retrieve_terms_of_service:
    post:
      description: |-
        Retrieve the user acceptance status of the Gusto Embedded Payroll's [Terms of Service](https://flows.gusto.com/terms).

        scope: `terms_of_services:read`
      operationId: Companies_getTermsOfServiceStatus
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompaniesGetTermsOfServiceStatusRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    latest_terms_accepted: true
              schema:
                $ref: '#/components/schemas/CompaniesGetTermsOfServiceStatusResponse'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Retrieve terms of service status for a company user
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-partner_managed_companies-company_uuid-retrieve_terms_of_service
      x-content-type: application/json
      x-accepts: application/json
  /v1/invoices/{invoice_period}:
    get:
      description: "Retrieve data for active companies used to calculate invoices\
        \ for Gusto Embedded Payroll. A company is considered active for an invoice\
        \ period if they are an active partner managed company, have run payroll or\
        \ created contractor payments since becoming a partner managed company, and\
        \ are not suspended at any point during the invoice period.  This endpoint\
        \ forces pagination, with 100 results returned at a time. You can learn more\
        \ about our pagination here: [pagination guide](https://docs.gusto.com/embedded-payroll/docs/pagination)\
        \ \n\n> \U0001f4d8 Token Authentication\n>\n> This endpoint uses the [organization\
        \ level api token and the Token scheme with HTTP Authorization header](https://docs.gusto.com/embedded-payroll/docs/authentication#retrieving-access-tokens)\n\
        \nscope: `invoices:read`"
      operationId: Invoices_getInvoicingDataForCompanies
      parameters:
      - description: The month we are calculating the invoice for. Must be in YYYY-MM
          format
        explode: false
        in: path
        name: invoice_period
        required: true
        schema:
          example: 2020-01
          type: string
          x-konfig-original-example: 2020-01
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-invoice_period-schema
        style: simple
      - description: "The page that is requested. When unspecified, will load all\
          \ objects unless endpoint forces pagination."
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      - description: Number of objects per page. For majority of endpoints will default
          to 25
        explode: true
        in: query
        name: per
        required: false
        schema:
          type: number
        style: form
      - description: "Filter companies returned in the active_companies response,\
          \ will return an error if company not active during provided invoice period.\
          \ i.e. `?company_uuids=781922d8-e780-4b6b-bf74-ee303166d022,bbbca930-7322-491c-ba7f-98707a52a9c5`"
        explode: true
        in: query
        name: company_uuids
        required: false
        schema:
          type: string
        style: form
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example:
                  value:
                    active_companies:
                    - company_uuid: 05ed3150-591e-4f8b-bfd5-55d478edd2d8
                      active_employees: 5
                      active_contractors: 3
                      initial_invoice_period: 2022-01
                    - company_uuid: 9b37429c-e540-40fb-86b3-738ca9af65c7
                      active_employees: 0
                      active_contractors: 1
                      initial_invoice_period: 2023-05
                x-konfig-original-example:
                  value:
                    active_companies:
                    - company_uuid: 05ed3150-591e-4f8b-bfd5-55d478edd2d8
                      active_employees: 5
                      active_contractors: 3
                      initial_invoice_period: 2022-01
                    - company_uuid: 9b37429c-e540-40fb-86b3-738ca9af65c7
                      active_employees: 0
                      active_contractors: 1
                      initial_invoice_period: 2023-05
              schema:
                $ref: '#/components/schemas/Invoice-Data'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      security:
      - ApiKeyAuth: []
      summary: Retrieve invoicing data for companies
      tags:
      - Invoices
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-invoices-invoice_period
      x-accepts: application/json
  /v1/companies/{company_id}/federal_tax_details:
    get:
      description: |-
        Fetches attributes relevant for a company's federal taxes.

        scope: `company_federal_taxes:read`
      operationId: FederalTaxDetails_getAttributes
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    version: string
                    tax_payer_type: string
                    taxable_as_scorp: false
                    filing_form: string
                    has_ein: true
                    ein_verified: true
                    legal_name: string
              schema:
                $ref: '#/components/schemas/Federal-Tax-Details'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get Federal Tax Details
      tags:
      - Federal Tax Details
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-company_id-federal_tax_details
      x-accepts: application/json
    put:
      description: |-
        Updates attributes relevant for a company's federal taxes.
        This information is required is to onboard a company for use with Gusto Embedded Payroll.

        scope: `company_federal_taxes:write`
      operationId: FederalTaxDetails_updateAttributes
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  version: 6cb95e00540706ca48d4577b3c839fbe
                  tax_payer_type: LLP
                  taxable_as_scorp: false
                  filing_form: "944"
                  has_ein: true
                  ein_verified: false
                  legal_name: Acme Corp.
            schema:
              $ref: '#/components/schemas/FederalTaxDetailsUpdateAttributesRequest'
        description: 'Attributes related to federal tax details that can be updated
          via this endpoint include:'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    version: string
                    tax_payer_type: string
                    taxable_as_scorp: false
                    filing_form: string
                    has_ein: true
                    ein_verified: true
                    legal_name: string
              schema:
                $ref: '#/components/schemas/Federal-Tax-Details'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Update Federal Tax Details
      tags:
      - Federal Tax Details
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-companies-company_id-federal_tax_details
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{company_id}/industry_selection:
    get:
      description: |-
        Get industry selection for the company.

        scope: `companies:read`
      operationId: IndustrySelection_getCompanyIndustrySelection
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    title: Computer Training
                    company_uuid: 423dd616-6dbc-4724-938a-403f6217a933
                    naics_code: "611420"
                    sic_codes:
                    - "8243"
              schema:
                $ref: '#/components/schemas/Industry'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get a company industry selection
      tags:
      - Industry Selection
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-company_id-industry_selection
      x-accepts: application/json
    put:
      description: |-
        Update the company industry selection by passing in industry classification codes: [NAICS code](https://www.naics.com), [SICS code](https://siccode.com/) and industry title. Our UI is leveraging [Middesk API](https://docs.middesk.com/reference/introduction) to determine industry classification codes.

        scope: `companies:write`
      operationId: IndustrySelection_updateCompanyIndustrySelection
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  title: Computer Training
                  naics_code: "611420"
                  sic_codes:
                  - "8243"
            schema:
              $ref: '#/components/schemas/IndustrySelectionUpdateCompanyIndustrySelectionRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    title: Computer Training
                    company_uuid: 423dd616-6dbc-4724-938a-403f6217a933
                    naics_code: "611420"
                    sic_codes:
                    - "8243"
              schema:
                $ref: '#/components/schemas/Industry'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Update a company industry selection
      tags:
      - Industry Selection
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-companies-company_id-industry_selection
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{company_id}/admins:
    get:
      description: |-
        Returns a list of all the admins at a company

        scope: `company_admin:read`
      operationId: Companies_getAllAdmins
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The page that is requested. When unspecified, will load all\
          \ objects unless endpoint forces pagination."
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      - description: Number of objects per page. For majority of endpoints will default
          to 25
        explode: true
        in: query
        name: per
        required: false
        schema:
          type: number
        style: form
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                  - first_name: Katherine
                    last_name: Johnson
                    email: Katherine@acmecorp.com
                    uuid: 987058cc-23ee-46e9-81ef-5cee086cceca
                  - first_name: Anita
                    last_name: Borg
                    email: Anita@acmecorp.com
                    uuid: 5de11791-98fd-4587-9ed0-d5d804b8e647
              schema:
                $ref: '#/components/schemas/CompaniesGetAllAdminsResponse'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get all the admins at a company
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-company_id-admins
      x-accepts: application/json
    post:
      description: |-
        Creates a new admin for a company.
        If the email matches an existing user, this will create an admin account for the current user. Otherwise, this will create a new user.

        scope: `company_admin:write`
      operationId: Companies_createAdmin
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  first_name: John
                  last_name: Smith
                  email: jsmith99@gmail.com
            schema:
              $ref: '#/components/schemas/CompaniesCreateAdminRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    first_name: John
                    last_name: Smith
                    email: jsmith99@gmail.com
                    uuid: 5de11791-98fd-4587-9ed0-d5d804b8e647
              schema:
                $ref: '#/components/schemas/Admin'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Create an admin for the company
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-companies-company_id-admins
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{company_uuid}/signatories:
    get:
      description: |-
        Returns company signatories. Currently we only support a single signatory per company.

        scope: `signatories:read`
      operationId: Signatories_getCompanySignatories
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                  - title: Owner
                    version: 49ea586f528411f5cfadfd54452b2423
                    uuid: f8c653dc-0094-41fb-8670-45d6399afade
                    first_name: Bob
                    last_name: Johnson
                    phone: "4239879876"
                    birthday: 2002-10-31
                    email: olin.okuneva@denesik.us
                    is_admin: false
                    has_ssn: true
                    home_address:
                      street_1: 524 Roob Divide
                      street_2: Suite 565
                      city: San Francisco
                      state: CA
                      zip: "94107"
                      country: USA
                    identity_verification_status: Skipped
              schema:
                $ref: '#/components/schemas/SignatoriesGetCompanySignatoriesResponse'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get all company signatories
      tags:
      - Signatories
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-company_uuid-signatories
      x-accepts: application/json
    post:
      description: |-
        Create a company signatory with complete information.
        A signatory can legally sign forms once the identity verification process is successful.

        scope: `signatories:manage`
      operationId: Signatories_createSignatoryWithCompleteInformation
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatoriesCreateSignatoryWithCompleteInformationRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                Example:
                  value:
                    title: Owner
                    version: 49ea586f528411f5cfadfd54452b2423
                    uuid: f8c653dc-0094-41fb-8670-45d6399afade
                    first_name: Bob
                    last_name: Johnson
                    phone: "4239879876"
                    birthday: 2002-10-31
                    email: olin.okuneva@denesik.us
                    is_admin: false
                    has_ssn: true
                    home_address:
                      street_1: 524 Roob Divide
                      street_2: Suite 565
                      city: San Francisco
                      state: CA
                      zip: "94107"
                      country: USA
                    identity_verification_status: Skipped
              schema:
                $ref: '#/components/schemas/Signatory'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Create a signatory
      tags:
      - Signatories
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-companies-company_uuid-signatories
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{company_uuid}/signatories/invite:
    post:
      description: "Create a signatory with minimal information. This signatory can\
        \ be invited to provide more information through the `PUT /v1/companies/{company_uuid}/signatories/{signatory_uuid}`\
        \ endpoint. This will start the identity verification process and allow the\
        \ signatory to be verified to sign documents."
      operationId: Signatories_createInvite
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatoriesCreateInviteRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                Example:
                  value:
                    title: Owner
                    version: 49ea586f528411f5cfadfd54452b2423
                    uuid: f8c653dc-0094-41fb-8670-45d6399afade
                    first_name: Bob
                    last_name: Johnson
                    phone: "4239879876"
                    birthday: 2002-10-31
                    email: olin.okuneva@denesik.us
                    is_admin: false
                    has_ssn: true
                    home_address:
                      street_1: 524 Roob Divide
                      street_2: Suite 565
                      city: San Francisco
                      state: CA
                      zip: "94107"
                      country: USA
                    identity_verification_status: Skipped
              schema:
                $ref: '#/components/schemas/Signatory'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Invite a signatory
      tags:
      - Signatories
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-companies-company_uuid-signatories-invite
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{company_uuid}/signatories/{signatory_uuid}:
    delete:
      description: |-
        Delete a company signatory.

        scope: `signatories:manage`
      operationId: Signatories_deleteSignatory
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: The UUID of the signatory
        explode: false
        in: path
        name: signatory_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Delete a signatory
      tags:
      - Signatories
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-companies-company_uuid-signatories-signatory_uuid
      x-accepts: application/json
    put:
      description: |-
        Update a signatory that has been either invited or created. If the signatory has been created with minimal information through the `POST /v1/companies/{company_uuid}/signatories/invite` endpoint, then the first update must contain all attributes specified in the request body in order to start the identity verification process.

        scope: `signatories:write`
      operationId: Signatories_update
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: The UUID of the signatory
        explode: false
        in: path
        name: signatory_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatoriesUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    title: Owner
                    version: 49ea586f528411f5cfadfd54452b2423
                    uuid: f8c653dc-0094-41fb-8670-45d6399afade
                    first_name: Bob
                    last_name: Johnson
                    phone: "4239879876"
                    birthday: 2002-10-31
                    email: olin.okuneva@denesik.us
                    is_admin: false
                    has_ssn: true
                    home_address:
                      street_1: 524 Roob Divide
                      street_2: Suite 565
                      city: San Francisco
                      state: CA
                      zip: "94107"
                      country: USA
                    identity_verification_status: Skipped
              schema:
                $ref: '#/components/schemas/Signatory'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Update a signatory
      tags:
      - Signatories
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-companies-company_uuid-signatories-signatory_uuid
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{company_uuid}/onboarding_status:
    get:
      description: |-
        Get company's onboarding status.
        The data returned helps inform the required onboarding steps and respective completion status.

        scope: `company_onboarding_status:read`
      operationId: Companies_getOnboardingStatus
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    uuid: c44d66dc-c41b-4a60-9e25-5e93ff8583f2
                    onboarding_completed: false
                    onboarding_steps:
                    - title: Add Your Company's Addresses
                      id: add_addresses
                      required: true
                      completed: true
                      skippable: false
                      requirements: []
                    - title: Enter Your Federal Tax Information
                      id: federal_tax_setup
                      required: true
                      completed: true
                      skippable: false
                      requirements: []
                    - title: Select Industry
                      id: select_industry
                      required: true
                      completed: true
                      skippable: false
                      requirements:
                      - add_addresses
                      - add_employees
                    - title: Add Your Bank Account
                      id: add_bank_info
                      required: true
                      completed: true
                      skippable: false
                      requirements: []
                    - title: Add Your Employees
                      id: add_employees
                      required: true
                      completed: true
                      skippable: true
                      requirements:
                      - add_addresses
                    - title: Enter Your State Tax Information
                      id: state_setup
                      required: true
                      completed: false
                      skippable: false
                      requirements:
                      - add_addresses
                      - add_employees
                    - title: Select a Pay Schedule
                      id: payroll_schedule
                      required: true
                      completed: false
                      skippable: false
                      requirements: []
                    - title: Sign Documents
                      id: sign_all_forms
                      required: true
                      completed: false
                      skippable: false
                      requirements:
                      - add_employees
                      - federal_tax_setup
                      - state_setup
                      - add_bank_info
                      - payroll_schedule
                    - title: Verify Your Bank Account
                      id: verify_bank_info
                      required: true
                      completed: false
                      skippable: false
                      requirements:
                      - add_bank_info
              schema:
                $ref: '#/components/schemas/Company-Onboarding-Status'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get the company's onboarding status
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-company_uuid-onboarding_status
      x-accepts: application/json
  /v1/companies/{company_uuid}/finish_onboarding:
    put:
      description: |-
        Finalize a given company's onboarding process.

        ### Approve a company in demo
        After a company is finished onboarding, Gusto requires an additional step to review and approve that company.
        In production environments, this step is required for risk-analysis purposes.

        We provide the endpoint `PUT '/v1/companies/{company_uuid}/approve'` to facilitate company approvals in the demo environment.

        ```shell
        PUT '/v1/companies/89771af8-b964-472e-8064-554dfbcb56d9/approve'

        # Response: Company object, with company_status: 'Approved'
        ```

        scope: `companies:write`
      operationId: Companies_finishOnboarding
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    uuid: c44d66dc-c41b-4a60-9e25-5e93ff8583f2
                    onboarding_completed: false
                    onboarding_steps:
                    - title: Add Your Company's Addresses
                      id: add_addresses
                      required: true
                      completed: true
                      skippable: false
                      requirements: []
                    - title: Enter Your Federal Tax Information
                      id: federal_tax_setup
                      required: true
                      completed: true
                      skippable: false
                      requirements: []
                    - title: Select Industry
                      id: select_industry
                      required: true
                      completed: true
                      skippable: false
                      requirements:
                      - add_addresses
                      - add_employees
                    - title: Add Your Bank Account
                      id: add_bank_info
                      required: true
                      completed: true
                      skippable: false
                      requirements: []
                    - title: Add Your Employees
                      id: add_employees
                      required: true
                      completed: true
                      skippable: true
                      requirements:
                      - add_addresses
                    - title: Enter Your State Tax Information
                      id: state_setup
                      required: true
                      completed: false
                      skippable: false
                      requirements:
                      - add_addresses
                      - add_employees
                    - title: Select a Pay Schedule
                      id: payroll_schedule
                      required: true
                      completed: false
                      skippable: false
                      requirements: []
                    - title: Sign Documents
                      id: sign_all_forms
                      required: true
                      completed: false
                      skippable: false
                      requirements:
                      - add_employees
                      - federal_tax_setup
                      - state_setup
                      - add_bank_info
                      - payroll_schedule
                    - title: Verify Your Bank Account
                      id: verify_bank_info
                      required: true
                      completed: false
                      skippable: false
                      requirements:
                      - add_bank_info
              schema:
                $ref: '#/components/schemas/Company-Onboarding-Status'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Finish company onboarding
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-companies-company_uuid-finish_onboarding
      x-accepts: application/json
  /v1/companies/{company_id}/custom_fields:
    get:
      description: |-
        Returns a list of the custom fields of the company. Useful when you need to know the schema of custom fields for an entire company

        scope: `companies:read`
      operationId: Companies_getCustomFields
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The page that is requested. When unspecified, will load all\
          \ objects unless endpoint forces pagination."
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      - description: Number of objects per page. For majority of endpoints will default
          to 25
        explode: true
        in: query
        name: per
        required: false
        schema:
          type: number
        style: form
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    custom_fields:
                    - description: Employee Level
                      uuid: ea7e5d57-6abb-47d7-b654-347c142886c0
                      name: employee_level
                      type: text
                      selection_options: null
                    - description: What is your t-shirt size?
                      uuid: 299650e4-e970-4acf-9bf0-6f05585d20ba
                      name: t-shirt size
                      type: text
                      selection_options: null
                    - description: Which is your favorite fruit?
                      uuid: 024ec137-6c92-43a3-b061-14a9720531d6
                      name: favorite fruit
                      type: radio
                      selection_options:
                      - apple
                      - banana
                      - orange
              schema:
                $ref: '#/components/schemas/CompaniesGetCustomFieldsResponse'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get the custom fields of a company
      tags:
      - Companies
      x-gusto-integration-type:
      - embedded
      - app-integrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-company_id-custom_fields
      x-accepts: application/json
  /v1/companies/{company_uuid}/flows:
    post:
      description: |-
        Generate a link to access a pre-built workflow in Gusto white-label UI. For security, all generated flows will expire within 1 hour of inactivity or 24 hours from creation time, whichever comes first.

        scope: `flows:write`
      operationId: Flows_generateLink
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_uuid
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  flow_type: company_onboarding
            schema:
              $ref: '#/components/schemas/FlowsGenerateLinkRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                Example:
                  value:
                    url: https://flows.gusto-demo.com/flows/lO2BHHAMCScPVV9G5WEURW0Im_nP9mGYloQgjUWbenQ
                    expires_at: 2021-12-28 04:25:48
              schema:
                $ref: '#/components/schemas/Flow'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Create a flow
      tags:
      - Flows
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-companies-company_uuid-flows
      x-content-type: application/json
      x-accepts: application/json
  /v1/companies/{company_id}/locations:
    get:
      description: |-
        Company locations represent all addresses associated with a company. These can be filing addresses, mailing addresses, and/or work locations; one address may serve multiple, or all, purposes.

        Since all company locations are subsets of locations, retrieving or updating an individual record should be done via the locations endpoints.

        scope: `companies:read`
      operationId: Locations_getCompanyLocations
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "The page that is requested. When unspecified, will load all\
          \ objects unless endpoint forces pagination."
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      - description: Number of objects per page. For majority of endpoints will default
          to 25
        explode: true
        in: query
        name: per
        required: false
        schema:
          type: number
        style: form
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                  - version: 7d9753112507b9dda4fb97910f39b06e
                    company_uuid: 6bf7807c-a5a0-4f4d-b2e7-3fbb4b2299fb
                    phone_number: "5825710808"
                    uuid: 04552eb9-7829-4b18-ae96-6983552948df
                    street_1: 412 Kiera Stravenue
                    street_2: Suite 391
                    city: San Francisco
                    state: CA
                    zip: "94107"
                    country: USA
                    active: true
                    filing_address: false
                    mailing_address: false
                    created_at: 2023-09-12T16:42:25.000-07:00
                    updated_at: 2023-09-12T16:42:25.000-07:00
                  - version: 15e6b9680e00f3122729e64e3cef3224
                    company_uuid: 6bf7807c-a5a0-4f4d-b2e7-3fbb4b2299fb
                    phone_number: "2866070827"
                    uuid: fa94a2fd-11a8-4024-87ff-85c587d9d2b4
                    street_1: 644 Fay Vista
                    street_2: Suite 842
                    city: Richmond
                    state: VA
                    zip: "23218"
                    country: USA
                    active: true
                    filing_address: false
                    mailing_address: false
                    created_at: 2023-09-12T16:42:25.000-07:00
                    updated_at: 2023-09-12T16:42:25.000-07:00
              schema:
                $ref: '#/components/schemas/LocationsGetCompanyLocationsResponse'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get company locations
      tags:
      - Locations
      x-gusto-integration-type:
      - embedded
      - app-integrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-company_id-locations
      x-accepts: application/json
    post:
      description: |-
        Company locations represent all addresses associated with a company. These can be filing addresses, mailing addresses, and/or work locations; one address may serve multiple, or all, purposes.

        Since all company locations are subsets of locations, retrieving or updating an individual record should be done via the locations endpoints.

        scope: `companies.write`
      operationId: Locations_createCompanyLocation
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  phone_number: "8009360383"
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: "94107"
                  country: USA
            schema:
              $ref: '#/components/schemas/LocationsCreateCompanyLocationRequest'
          application/xml:
            examples:
              Example:
                value:
                  phone_number: "8009360383"
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: "94107"
                  country: USA
            schema:
              $ref: '#/components/schemas/LocationsCreateCompanyLocationRequest1'
        description: Create a company location.
      responses:
        "201":
          content:
            application/json:
              examples:
                Example:
                  value:
                    version: 7d9753112507b9dda4fb97910f39b06e
                    company_uuid: 6bf7807c-a5a0-4f4d-b2e7-3fbb4b2299fb
                    phone_number: "5825710808"
                    uuid: 04552eb9-7829-4b18-ae96-6983552948df
                    street_1: 412 Kiera Stravenue
                    street_2: Suite 391
                    city: San Francisco
                    state: CA
                    zip: "94107"
                    country: USA
                    active: true
                    filing_address: false
                    mailing_address: false
                    created_at: 2023-09-12T16:42:25.000-07:00
                    updated_at: 2023-09-12T16:42:25.000-07:00
              schema:
                $ref: '#/components/schemas/Location'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Create a company location
      tags:
      - Locations
      x-gusto-integration-type:
      - embedded
      - app-integrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-companies-company_id-locations
      x-content-type: application/json
      x-accepts: application/json
  /v1/locations/{location_id}:
    get:
      description: |-
        Get a location.

        scope: `companies:read`
      operationId: Locations_getById
      parameters:
      - description: The UUID of the location
        explode: false
        in: path
        name: location_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    version: 7d9753112507b9dda4fb97910f39b06e
                    company_uuid: 6bf7807c-a5a0-4f4d-b2e7-3fbb4b2299fb
                    phone_number: "5825710808"
                    uuid: 04552eb9-7829-4b18-ae96-6983552948df
                    street_1: 412 Kiera Stravenue
                    street_2: Suite 391
                    city: San Francisco
                    state: CA
                    zip: "94107"
                    country: USA
                    active: true
                    filing_address: false
                    mailing_address: false
                    created_at: 2023-09-12T16:42:25.000-07:00
                    updated_at: 2023-09-12T16:42:25.000-07:00
              schema:
                $ref: '#/components/schemas/Location'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get a location
      tags:
      - Locations
      x-gusto-integration-type:
      - embedded
      - app-integrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-locations-location_id
      x-accepts: application/json
    put:
      description: |-
        Update a location.

        scope: `companies.write`
      operationId: Locations_updateLocation
      parameters:
      - description: The UUID of the location
        explode: false
        in: path
        name: location_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  version: 1928d0c378e519e9c03fb959bc959a6b
                  phone_number: "8009360383"
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: "94107"
                  country: USA
            schema:
              $ref: '#/components/schemas/LocationsUpdateLocationRequest'
        description: Update a location
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    version: 7d9753112507b9dda4fb97910f39b06e
                    company_uuid: 6bf7807c-a5a0-4f4d-b2e7-3fbb4b2299fb
                    phone_number: "5825710808"
                    uuid: 04552eb9-7829-4b18-ae96-6983552948df
                    street_1: 412 Kiera Stravenue
                    street_2: Suite 391
                    city: San Francisco
                    state: CA
                    zip: "94107"
                    country: USA
                    active: true
                    filing_address: false
                    mailing_address: false
                    created_at: 2023-09-12T16:42:25.000-07:00
                    updated_at: 2023-09-12T16:42:25.000-07:00
              schema:
                $ref: '#/components/schemas/Location'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
        "422":
          content:
            application/json:
              examples:
                Example:
                  value:
                    errors:
                    - error_key: base
                      category: payroll_blocker
                      message: Company must complete all onboarding requirements in
                        order to run payroll.
                      metadata:
                        key: needs_onboarding
              schema:
                $ref: '#/components/schemas/Unprocessable-Entity-Error-Object'
          description: "Unprocessable Entity \n  \nThis may happen when the body of\
            \ your request contains errors such as `invalid_attribute_value`, or the\
            \ request fails due to an `invalid_operation`. See the [Errors Categories](https://docs.gusto.com/embedded-payroll/docs/error-categories)\
            \ guide for more details.\n"
          x-do-not-generate: true
      summary: Update a location
      tags:
      - Locations
      x-gusto-integration-type:
      - embedded
      - app-integrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-locations-location_id
      x-content-type: application/json
      x-accepts: application/json
  /v1/locations/{location_uuid}/minimum_wages:
    get:
      description: |-
        Get minimum wages for a location

        scope: `companies:read`
      operationId: Locations_getMinimumWages
      parameters:
      - description: The UUID of the location
        explode: false
        in: path
        name: location_uuid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: effective_date
        required: false
        schema:
          example: 2020-01-31
          type: string
          x-konfig-original-example: 2020-01-31
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-effective_date-schema
        style: form
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                  - uuid: 70c523ff-c71e-4474-9c83-a4ea51bd54a8
                    authority: State
                    wage: "13.0"
                    wage_type: Regular
                    effective_date: 2022-01-01
                    notes: Employers with 6 or more employees
              schema:
                $ref: '#/components/schemas/LocationsGetMinimumWagesResponse'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get minimum wages for a location
      tags:
      - Locations
      x-gusto-integration-type:
      - embedded
      - app-integrations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-locations-location_uuid-minimum_wages
      x-accepts: application/json
  /v1/companies/{company_id}/bank_accounts:
    get:
      description: |-
        Returns company bank accounts. Currently, we only support a single default bank account per company.

        scope: `company_bank_accounts:read`
      operationId: BankAccounts_listCompanyBankAccounts
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
        schema:
          enum:
          - 2024-03-01
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                  - uuid: 1263eae5-4411-48d9-bd6d-18ed93082e65
                    company_uuid: e2c4c0ce-2986-48b9-86cf-ec27f6ed9a36
                    account_type: Checking
                    routing_number: "851070439"
                    hidden_account_number: XXXX4087
                    verification_status: verified
                    verification_type: bank_deposits
                    name: Employer Funding Account
              schema:
                $ref: '#/components/schemas/BankAccountsListCompanyBankAccountsResponse'
          description: Example response
        "404":
          description: "Not Found \n  \nThe requested resource does not exist. Make\
            \ sure the provided ID/UUID is valid.\n"
      summary: Get all company bank accounts
      tags:
      - Bank Accounts
      x-gusto-integration-type:
      - embedded
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-companies-company_id-bank_accounts
      x-accepts: application/json
    post:
      description: "This endpoint creates a new company bank account.\n\nUpon being\
        \ created, two verification deposits are automatically sent to the bank account,\
        \ and the bank account's verification_status is 'awaiting_deposits'. \n\n\
        When the deposits are successfully transferred, the verification_status changes\
        \ to 'ready_for_verification', at which point the verify endpoint can be used\
        \ to verify the bank account.\nAfter successful verification, the bank account's\
        \ verification_status is 'verified'.\n\nscope: `company_bank_accounts:write`\n\
        \n> \U0001f6a7 Warning\n>\n> If a default bank account exists, it will be\
        \ disabled and the new bank account will replace it as the company's default\
        \ funding method."
      operationId: BankAccounts_createVerificationDeposits
      parameters:
      - description: The UUID of the company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Determines the date-based API version associated with your API\
          \ call. If none is provided, your application's [minimum API version](https://docs.gusto.com/embedded-payroll/docs/api-versioning#minimum-api-version)\
          \ is used."
        explode: false
        in: header
        name: X-Gusto-API-Version
        required: false
[...]
